.Rproj.user
.Rhistory
.RData
*.Rproj
fhLog*
dea-devStage-mlm-DPUT.txt
dea-devStage-mlm-summary-DPUT.txt
dea-gType-by-devStage-mlm-DPUT.txt
dea-gType-by-devStage-mlm-stats.txt
dea-gType-by-simpleDevStage-mlm-DPUT.txt
dea-gType-by-simpleDevStage-mlm-stats.txt
dea-gType-by-simpleDevStage-mlm-summary-DPUT.txt
